.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

main {
  margin-top: 15px;
}

.locationSelect {
  display: inline-block !important;
  width: 400px;
  vertical-align: middle;
  margin-right: 10px;
}

button {
  font-size: 16pt;
  padding: 3px;
  vertical-align: middle;
}

li {
  list-style: none;
  font-size: 16pt;
  line-height: 35px;
}

ul {
  background-color: lightgrey;
  width: 500px;
  padding: 20px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

img {
  vertical-align: middle;
}
